<!-- extends  events/index.html -->


<div class="content-header">
    <h2>Fortbildungen eintragen:</h2>
</div>
<div class="content-body">
    <form>
        <div class="form-group">
            <label for="inputTitle">Fortbildungsname</label>
            <input ng-model="title" type="text" class="form-control" id="inputTitle" aria-describedby="titleHelp" placeholder="Fortbildungstitel eingeben" required>
            <small id="titleHelp" class="form-text text-muted">Titel der Fortbildung</small>
        </div>
        <div class="form-row">
            <div class="col-sm">
                <div class="form-group">
                    <label for="startDatepicker">Fortbildungsbeginn:</label>
                    <input ng-change="vm.validateDates(startDateString, endDateString)"  id="startDatepicker" ng-model="startDateString"  placeholder="Datum auswählen" width="100%" required/>
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <label for="endDatepicker">Fortbildungsende:</label>
                    <input ng-change="vm.validateDates(startDateString, endDateString)"  id="endDatepicker" ng-model="endDateString"  placeholder="Datum auswählen" width="100%" required/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="inputDescription">Beschreibung</label>
            <textarea  id="inputDescription" class="form-control" ng-model="description" rows="3" placeholder="Bitte Fortbildung hier beschreiben"></textarea>
        </div>
        <button type="submit" value="Eintragen" ng-click="vm.addEvent(title, description, startDateString,endDateString)" class="btn btn-primary" >Eintragen</button>
    </form>
</div>


<toaster-container toaster-options="{'position-class':'toast-bottom-right'}" ></toaster-container>

<script>
    $('#startDatepicker').datepicker({ format: 'dd.mm.yyyy' });
    $('#endDatepicker').datepicker({ format: 'dd.mm.yyyy' });
</script>

<style>
    .align-left {
        test-align: left;
    }
</style>